<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Components - Free Templates</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>
          <div id="logo">
            <img src="./Logo.png" width="40" alt="Logo" />
            <a href="#" id="logo-text">
              <h1>Free</h1>
              <h1>Templates</h1>
            </a>
          </div>
          <!-- Desktop Navbar Links -->
          <ul id="navlinks-container">
            <li>
              <a href="../index.html" title="Home">
                <i class="ri-home-9-line"></i>
              </a>
            </li>
            <li>
              <a  href="../main/about/about.html">About Us</a>
            </li>
            <li>
              <a target="_blank" href="../templates/index.html">Templates</a>
            </li>
          </ul>

          <div id="nav-right">
            <!-- Social Links (Visible on Desktop) -->
            <div id="social-links">
              <a
                href="https://github.com/workmdirfan29/Html_Css_Js_Projects"
                target="_blank"
              >
                <i class="ri-github-fill"></i>
              </a>
              <a href="https://x.com/mdirfan_23" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </div>
            <!-- Hamburger Icon (Visible on Mobile) -->
            <div id="hamburger-icon" class="hamburger">
              <i class="ri-menu-3-line"></i>
            </div>
          </div>
        </nav>
      </header>

      <!-- Sidebar Menu -->
      <div id="sidebar" class="sidebar">
        <div id="close-icon" class="close">
          <i class="ri-close-fill"></i>
        </div>
        <ul>
          <li>
            <a  href="#" title="Home">
              <i class="ri-home-9-line"></i>
            </a>
          </li>
          <li>
            <a  href="../main/about/about.html">About Us</a>
          </li>
          <li>
            <a target="_blank" href="../templates/index.html">Templates</a>
          </li>
        </ul>
      </div>

      <main id="container">
        <div id="intropage">
          <h1>Components</h1>
          <p>
            Components are reusable pieces of code that can be used to build web
            pages.
          </p>
        </div>
        <div id="Components-container">
          <div id="left-components-container">left</div>
          <div id="right-components-container">Right</div>
        </div>
      </main>
    </div>

    <script src="https://unpkg.com/lenis@1.1.17/dist/lenis.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
