<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
    <!-- Remix Icon CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Toastr CSS -->

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <title>Components - Free Templates</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav>
          <div id="logo">
            <img src="./Logo.png" width="40" alt="Logo" />
            <a href="#" id="logo-text">
              <h1>Free</h1>
              <h1>Templates</h1>
            </a>
          </div>
          <!-- Desktop Navbar Links -->
          <ul id="navlinks-container">
            <li>
              <a href="../index.html" title="Home">
                <i class="ri-home-9-line"></i>
              </a>
            </li>
            <li>
              <a href="../main/about/about.html">About Us</a>
            </li>
            <li>
              <a target="_blank" href="../templates/index.html">Templates</a>
            </li>
          </ul>

          <div id="nav-right">
            <!-- Social Links (Visible on Desktop) -->
            <div id="social-links">
              <a
                href="https://github.com/workmdirfan29/Html_Css_Js_Projects"
                target="_blank"
              >
                <i class="ri-github-fill"></i>
              </a>
              <a href="https://x.com/mdirfan_23" target="_blank">
                <i class="ri-twitter-fill"></i>
              </a>
            </div>
            <!-- Hamburger Icon (Visible on Mobile) -->
            <div id="hamburger-icon" class="hamburger">
              <i class="ri-menu-3-line"></i>
            </div>
          </div>
        </nav>
      </header>

      <!-- Sidebar Menu -->
      <div id="sidebar" class="sidebar">
        <div id="close-icon" class="close">
          <i class="ri-close-fill"></i>
        </div>
        <ul>
          <li>
            <a href="#" title="Home">
              <i class="ri-home-9-line"></i>
            </a>
          </li>
          <li>
            <a href="../main/about/about.html">About Us</a>
          </li>
          <li>
            <a target="_blank" href="../templates/index.html">Templates</a>
          </li>
        </ul>
      </div>

      <main id="container">
        <div id="intropage">
          <h1>Components</h1>
          <p>
            Components are reusable pieces of code that can be used to build web
            pages.
          </p>
          <div id="btn-components">
            <a class="btn btn-1" href="#">Get Started</a>
            <a target="_blank" class="btn btn-2" href="../templates/index.html"
              >Free Templates</a
            >
          </div>
        </div>
        <!-- Components Container Start Here -->

        <div id="Components-container">
          <!-- Avatar Container Start -->
          <div id="components-container-01">
            <div id="left-components-container">
              <h1>Avatar</h1>
            </div>
            <div id="right-components-container">
              <!-- Avatar 1 with wrapper -->
              <div
                id="code-copy-1"
                class="avatar-component av-comp-1"
                onclick="CopyAvatar1()"
              >
                <div class="copy-btn">
                  <i class="ri-file-copy-line"></i>
                </div>
                <div class="avatar">
                  <img
                    src="https://img.freepik.com/free-photo/androgynous-avatar-non-binary-queer-person_23-2151100221.jpg?ga=GA1.1.881379319.1733118417&semt=ais_hybrid"
                    alt="User Avatar"
                    class="avatar-image"
                  />
                </div>
              </div>

              <!-- Avatar 2 with wrapper -->
              <div
                id="code-copy-2"
                class="avatar-component av-comp-2"
                onclick="CopyAvatar2()"
              >
                <div class="copy-btn">
                  <i class="ri-file-copy-line"></i>
                </div>
                <div id="avatar-wrapper">
                  <div class="avatar avatar-1">
                    <img
                      src="https://img.freepik.com/free-photo/androgynous-avatar-non-binary-queer-person_23-2151100221.jpg?ga=GA1.1.881379319.1733118417&semt=ais_hybrid"
                      alt="User Avatar"
                      class="avatar-image"
                    />
                  </div>
                  <div class="avatar avatar-2">
                    <img
                      src="https://img.freepik.com/free-photo/androgynous-avatar-non-binary-queer-person_23-2151100222.jpg?ga=GA1.1.881379319.1733118417&semt=ais_hybrid"
                      alt="User Avatar"
                      class="avatar-image"
                    />
                  </div>
                  <div class="avatar avatar-3">
                    <img
                      src="https://img.freepik.com/free-vector/smiling-blonde-boy-hoodie_1308-174731.jpg?ga=GA1.1.881379319.1733118417&semt=ais_hybrid"
                      alt="User Avatar"
                      class="avatar-image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Avatar Container End -->
        </div>

        <!-- Accordion container Start Here -->
        <div id="components-container-02">
          <div id="left-comp-container">
            <h1>Accordion</h1>
          </div>
          <div id="right-comp-container">
            <div class="accordion-wrapper">
              <!-- Copy Button -->
              <div class="copy-btn-wrapper" onclick="accordionCopy()">
                <i class="ri-file-copy-line copy-icon"></i>
              </div>

              <!-- Accordion Items -->
              <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                  <span class="accordion-title">Accordion Item 1</span>
                  <i class="ri-arrow-down-s-line dropdown-icon"></i>
                </div>
                <div class="accordion-content">
                  <p>This is the content for Accordion Item 1.</p>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                  <span class="accordion-title">Accordion Item 2</span>
                  <i class="ri-arrow-down-s-line dropdown-icon"></i>
                </div>
                <div class="accordion-content">
                  <p>This is the content for Accordion Item 2.</p>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-header" onclick="toggleAccordion(this)">
                  <span class="accordion-title">Accordion Item 3</span>
                  <i class="ri-arrow-down-s-line dropdown-icon"></i>
                </div>
                <div class="accordion-content">
                  <p>This is the content for Accordion Item 3.</p>
                </div>
              </div>
            </div>
            <div id="prerequisite-content" class="prerequisite-content">
              <p class="cdn-text">
                <strong class="note-title">NOTE:</strong>
                To use Remix Icon, you need to include the CDN link in your HTML
                file.
                <br />
                <div class="cdn-text2">
                  <strong class="cdn-title">CDN:</strong>
                <a
                  href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css"
                  target="_blank"
                  class="cdn-link"
                  >Click here to add Remix Icon CDN</a
                >
                </div>
              </p>
            </div>
          </div>
        </div>
        <!-- Accordion container End Here -->

        <!-- View More Project Links Adding Here -->

        <div id="viewmore">
          <a
          target="_blank"
           href="https://freecomponentslib.vercel.app/">View More Components <i class="ri-arrow-right-up-line"></i></a>
        </div>

        <!-- Components Container End Here -->
      </main>
    </div>

    <!-- Lenis JS CDN -->
    <script src="https://unpkg.com/lenis@1.1.17/dist/lenis.min.js"></script>
    <!-- Toaster Js -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!--  custom JS (script.js) -->
    <script src="script.js"></script>
    <!--  custom JS for copy functionality (copy.js) -->
    <script src="copy.js"></script>
  </body>
</html>
